
.topnav {
	padding: 4px;

}

.mapofeverything{
    height: 700px; 
    width: 1300px;
    background-size: cover;
    background-image: url('./images/map_empty.png');

}

.mapofeverything:hover{
	background-image: url('./images/map_americas.png');
}