
.original{
	width: 400px;
	height: 400px;
	background-color: #921;
	border-radius: 14px;
	position: absolute;
	left: 40%;
	top: 50%;
}
.original .sub1{
	background-color: gray;
	position: absolute;
	left:50%;
	right:20px;
	top: 50%;
	bottom:50px; 
}

.original .sub1:hover{
	background-color: green;
}
.original .sub2{
background-color: gray;
	position: absolute;
	left: 20px;
	right: 50%;
	top: 50px;
	bottom: 50%;
}
.original .sub2:hover{
	background-image: url(./images/Opuntia.jpg); 
}
.original .sub3{
background-color: gray;
	position: absolute;
	left:20px;
	right:50%;
	top: 50%;
	bottom:50px; 
}
.original .sub3:hover{
background-color: green;
}
.original .sub4{
background-color: gray;
	position: absolute;
	left:50%;
	right:20px;
	top: 50px;
	bottom:50%; 
}
.original .sub4:hover{
background-color: green;
}